export(
anovaint,                            
anovapin,         
anovaplate,
anovaspatial,
bas,
colorbar.mxy,                        
colorbar.sig,                     
fdr.int,                             
fdr.int2,                          
fdr.spatial,                        
fdr.spatial2,                       
fgbg.visu,                                                             
ino,                               
lin,                               
m2v,                          
ma.matrix,                  
ma.vector,                    
mxy.abs.plot,                      
mxy.plot,                         
mxy2.plot,                        
oin,                              
olin,                                                                
p.int,                             
p.int2,                           
p.spatial,                         
p.spatial2,                       
sig.mask,                           
sigint.plot,                        
sigint.plot2,                      
sigxy.plot  ,                   
sigxy.plot2,                        
sw,                                 
sw.olin,                            
sw.xy,                               
v2m)                                
